### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "C:/Users/17703/Shreya/Pandas_Challenge/HeroesOfPymoli/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Displaying Unique items
#purchase_data.columns
#Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')


# Displaying the total number of players

Total_Players = len(purchase_data["SN"].unique())
print("Total_Players", Total_Players)

Total_Players 576

## Purchasing Analysis (Total)

# Displaying the name of the columns of purchase_data
purchase_data.columns

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
#Displaying Unique items
#purchase_data.columns
#Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')


### Purchasing Analysis (Total)
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue

Unique_items = len(purchase_data["Item ID"].unique())


Average_price = purchase_data["Price"].mean()


Number_of_purchases = purchase_data["Purchase ID"].count()


TotalRevenue = sum(purchase_data["Price"])


print("TotalRevenue", TotalRevenue)
print("Unique_items",  Unique_items)
print("Average_price",  Average_price)
print("Number_of_purchases",  Number_of_purchases)

#Making a blank dataframe
summarytable_df = pd.DataFrame()

summarytable_df["TotalRevenue"] = [TotalRevenue ]
summarytable_df["Unique_items"] = [Unique_items]
summarytable_df["Average_price"] = [Average_price]
summarytable_df["Number_of_purchases"] = [Number_of_purchases]

#summarytable_df.style.format({"TotalRevenue": "${:.2f}"})

summarytable_df

TotalRevenue 2379.7699999999973
Unique_items 183
Average_price 3.050987179487176
Number_of_purchases 780

   TotalRevenue  Unique_items  Average_price  Number_of_purchases
0       2379.77           183       3.050987                  780

# Gender Demographics
# Percentage and Count of Male Players
# Percentage and Count of Female Players

In [4]:

# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

#Total count of players
Count_total_players = len(purchase_data["Gender"])
print("Count_total_players", Count_total_players)

#Count of all players genderwise
Count_players_gender = purchase_data["Gender"].value_counts()
print("Count_players_gender", Count_players_gender)

#Count of male players

Count_Male_players = len(purchase_data[purchase_data['Gender']== "Male"])
print(Count_Male_players)

#Count of female players

Count_Female_players = len(purchase_data[purchase_data['Gender']== "Female"])
print(Count_Female_players)

#Count of Other players
Count_Other_players =  len(purchase_data[purchase_data['Gender']== "Other / Non-Disclosed"])
print(Count_Other_players)


#Percentage of male players

Male_player_pct = round((Count_Male_players)/(Count_total_players)*100)
print("Male_player_pct", Male_player_pct)


#Percentage of female players

Female_player_pct = round((Count_Female_players)/(Count_total_players)*100)
print("Female_player_pct", Female_player_pct)


#Percentage of other players

Other_player_pct = round((Count_Other_players)/(Count_total_players)*100)
print("Other_player_pct", Other_player_pct)

Count_total_players 780
Count_players_gender Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64
652
113
15
Male_player_pct 84
Female_player_pct 14
Other_player_pct 2

In [5]:
# Summary of Count and percentage of Players by Gender

import pandas as pd

player_gender_summary_df = pd.DataFrame()

player_gender_summary_df["Count_Male_players"] = [Count_Male_players]
player_gender_summary_df["Count_Female_players"] =[Count_Female_players]
player_gender_summary_df["Count_Other_players"] =[Count_Other_players]
player_gender_summary_df["Male_player_pct"] =  [Male_player_pct]
player_gender_summary_df["Female_player_pct"]= [Female_player_pct]
player_gender_summary_df["Other_player_pct"] = [Other_player_pct]

player_gender_summary_df

#player_gender_summary_df.style.format({{"Male_player_pct": "{:.2f}%}",{"Female_player_pct": "{:.2f}%}", {"Other_player_pct": "{:.2f}%}"}})

,Count_Male_players,Count_Female_players,Count_Other_players,Male_player_pct,Female_player_pct,Other_player_pct
0,652,113,15,84,14,2

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Displaying Unique items
#purchase_data.columns
#Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')


# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

# Purchase Count by gender

Male_purchase_count = len(purchase_data[purchase_data['Gender']== "Male"])
Female_purchase_count = len(purchase_data[purchase_data['Gender']== "Female"])
Other_purchase_count = len(purchase_data[purchase_data['Gender']== "Other / Non-Disclosed"])


print("Male_purchase_count", Male_purchase_count)

print("FemaleFe_purchase_count", Female_purchase_count)

print("Other_purchase_count", Other_purchase_count)

Male_purchase_count 652
FemaleFe_purchase_count 113
Other_purchase_count 15

In [7]:
# Average purchase price by gender Male

# Create a list of the columns
columns = [ "Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]

#  Create a new df for "Male Players" with the columns. 

Male_df = purchase_data.loc[purchase_data["Gender"]=="Male", columns]
Male_df.head(10)


Male_purchase_count = len(purchase_data[purchase_data['Gender']== "Male"])

Male_Total_Pur_Price = sum(Male_df["Price"])

Male_Avg_Pur_Price = Male_Total_Pur_Price/Male_purchase_count


Summary_df = pd.DataFrame()
Summary_df["Male_purchase_count"] = [Male_purchase_count]
Summary_df["Male_Total_Pur_Price"] = [Male_Total_Pur_Price]
Summary_df["Male_Avg_Pur_Price"] = [Male_Avg_Pur_Price]

Summary_df

   Male_purchase_count  Male_Total_Pur_Price  Male_Avg_Pur_Price
0                  652               1967.64            3.017853

In [8]:
# Average purchase price by gender Female

# Create a list of the columns
columns = [ "Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]

# Create a new df for "Female Players" with the columns. 

Female_df = purchase_data.loc[purchase_data["Gender"]=="Female", columns]

Female_df.head(10)

Female_Total_Pur_Price = sum(Female_df["Price"])

Female_count = Female_df["Gender"].count()
print("Female_count", Female_count)

Female_Avg_Pur_Price = Female_Total_Pur_Price/Female_purchase_count
print("Female_Avg_Pur_Price", Female_Avg_Pur_Price)

Summary_df = pd.DataFrame()
Summary_df["Female_count"] = [Female_count]
Summary_df["Female_Total_Pur_Price"] = [Female_Total_Pur_Price]
Summary_df["Female_Avg_Pur_Price"] = [Female_Avg_Pur_Price]

Summary_df

Female_count 113
Female_Avg_Pur_Price 3.203008849557519

   Female_count  Female_Total_Pur_Price  Female_Avg_Pur_Price
0           113                  361.94              3.203009

In [17]:
# Average purchase price by gender "Others/Non-disclosed"Female_count = Female_df["Gender"].count()

# Create a list of the columns
columns = [ "Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]

# Create a new df for "Male Players" with the columns. 

Others_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", columns]

Others_df

Others_count = Others_df["Gender"].count()

Others_Total_Pur_Price = sum(Others_df["Price"])

Others_Avg_Pur_Price = Others_Total_Pur_Price/Others_count


Summary_df = pd.DataFrame()
Summary_df["Others_count"] = [Others_count]
Summary_df["Others_Total_Pur_Price"] = [Others_Total_Pur_Price]
Summary_df["Others_Avg_Pur_Price"] = [Others_Avg_Pur_Price]

Summary_df

   Others_count  Others_Total_Pur_Price  Others_Avg_Pur_Price
0            15                   50.19                 3.346

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [49]:

Min_age = purchase_data["Age"].min()
print("Min_age", Min_age)

Max_age = purchase_data["Age"].max()
print("Max_age", Max_age)


# Create bins in which to place values based upon TED Talk views
bins = [0, 10, 20, 30, 40, 50, 60]
        
# Create labels for these bins
group_labels = ["0 to 9", "10 to 19", "20 to 29", "30 to 39", "40 to 49", "50 to 59"]

# Slice the data and place it into bins
df_g = pd.cut(purchase_data["Age"], bins, labels = group_labels)
df_g.head


# Create a GroupBy object based upon "View Group"

Age_grp = purchase_data.groupby("Age")

print(Age_grp["Age"].count())

Min_age 7
Max_age 45

KeyError: 'Column not found: Players'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [18]:
purchase_data.sort_values(["Price"], ascending=False)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
554,554,Dyally87,22,Male,63,Stormfury Mace,4.99
189,189,Hiasri33,23,Male,63,Stormfury Mace,4.99
110,110,Ririp86,25,Male,139,"Mercy, Katana of Dismay",4.94
246,246,Lirtilsa71,24,Male,139,"Mercy, Katana of Dismay",4.94
493,493,Chanirrasta87,14,Male,139,"Mercy, Katana of Dismay",4.94
116,116,Lassilsala30,21,Male,139,"Mercy, Katana of Dismay",4.94
231,231,Yarithsurgue62,26,Male,139,"Mercy, Katana of Dismay",4.94
477,477,Mindossa76,41,Male,173,Stormfury Longsword,4.93
686,686,Chadjask77,8,Male,147,"Hellreaver, Heirloom of Inception",4.93
290,290,Idastidru52,24,Male,147,"Hellreaver, Heirloom of Inception",4.93
275,275,Smaistysu35,30,Male,173,Stormfury Longsword,4.93
312,312,Strithenu87,20,Male,147,"Hellreaver, Heirloom of Inception",4.93
577,577,Filurarn35,19,Male,128,"Blazeguard, Reach of Eternity",4.91
593,593,Lassimla92,25,Male,128,"Blazeguard, Reach of Eternity",4.91
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91
284,284,Firan91,24,Male,128,"Blazeguard, Reach of Eternity",4.91
517,517,Aerithnuphos61,39,Male,128,"Blazeguard, Reach of Eternity",4.91
666,666,Assilsan72,20,Female,82,Nirvana,4.90
504,504,Chamilsala65,23,Female,82,Nirvana,4.90
240,240,Lirtastsda29,16,Male,82,Nirvana,4.90
247,247,Iskadarya95,20,Male,82,Nirvana,4.90
522,522,Meosridil82,18,Male,82,Nirvana,4.90
202,202,Phistym51,37,Male,82,Nirvana,4.90
88,88,Laedallo55,30,Male,82,Nirvana,4.90
274,274,Aerithllora36,29,Female,82,Nirvana,4.90
18,18,Reunasu60,22,Female,82,Nirvana,4.90
158,158,Sundadar27,31,Male,111,Misery's End,4.89
676,676,Idastidru52,24,Male,111,Misery's End,4.89
695,695,Lamil79,38,Male,111,Misery's End,4.89
598,598,Halaecal66,22,Male,111,Misery's End,4.89
...,...,...,...,...,...,...,...
618,618,Aisurdru79,29,Female,183,Dragon's Greatsword,1.09
165,165,Lirtassa52,15,Male,183,Dragon's Greatsword,1.09
705,705,Aelidru27,22,Male,183,Dragon's Greatsword,1.09
253,253,Aesty53,21,Male,28,"Flux, Destroyer of Due Diligence",1.06
681,681,Yalaeria91,33,Male,28,"Flux, Destroyer of Due Diligence",1.06
260,260,Saida58,16,Male,70,Hope's End,1.03
405,405,Aesurstilis64,25,Male,70,Hope's End,1.03
453,453,Euthe35,24,Male,70,Hope's End,1.03
292,292,Lisasi93,13,Male,70,Hope's End,1.03
654,654,Tyialisudeu65,24,Male,19,"Pursuit, Cudgel of Necromancy",1.02
361,361,Frichjaskan98,25,Male,19,"Pursuit, Cudgel of Necromancy",1.02
239,239,Eodailis27,30,Male,19,"Pursuit, Cudgel of Necromancy",1.02
528,528,Isurria36,22,Female,19,"Pursuit, Cudgel of Necromancy",1.02
702,702,Ililsasya43,19,Male,12,Dawne,1.02
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
582,582,Irilis75,20,Male,19,"Pursuit, Cudgel of Necromancy",1.02
344,344,Qilalista41,23,Male,19,"Pursuit, Cudgel of Necromancy",1.02
770,770,Lirtosia63,34,Male,12,Dawne,1.02
83,83,Aina42,25,Male,12,Dawne,1.02
731,731,Eudanu84,22,Female,12,Dawne,1.02
100,100,Pheodaisun84,30,Male,12,Dawne,1.02
579,579,Marilsa69,25,Female,12,Dawne,1.02
657,657,Silaera56,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
535,535,Siralsudeu54,20,Male,155,War-Forged Gold Deflector,1.01
552,552,Hiaral50,15,Male,155,War-Forged Gold Deflector,1.01
586,586,Chanirra79,23,Female,155,War-Forged Gold Deflector,1.01
282,282,Aidai61,21,Male,155,War-Forged Gold Deflector,1.01
371,371,Eusurdeu49,23,Male,155,War-Forged Gold Deflector,1.01
63,63,Alo38,20,Male,125,Whistling Mithril Warblade,1.00
418,418,Marim28,25,Female,125,Whistling Mithril Warblade,1.00