In [2]:
import os
import pandas as pd

In [3]:
pokemon_csv = "C:\Python\Pokemon.csv"

In [4]:
# Read with Pandas
pokemon_pd = pd.read_csv(pokemon_csv)
pokemon_pd.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
# Extract the following columns: "Type 1", "HP", "Attack", "Sp. Atk", "Sp. Def", and "Speed"
pokemon_type = pokemon_pd[["Type 1", "HP", "Attack",
                           "Defense", "Sp. Atk", "Sp. Def", "Speed"]]
pokemon_type.head()

  Type 1  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0  Grass  45      49       49       65       65     45
1  Grass  60      62       63       80       80     60
2  Grass  80      82       83      100      100     80
3  Grass  80     100      123      122      120     80
4   Fire  39      52       43       60       50     65

In [ ]:
# dropping passed columns 
#data.drop(["Team", "Weight"], axis = 1, inplace = False)

In [7]:
# Create a dataframe of the average stats for each type of pokemon.
pokemon_group = pokemon_type.groupby(["Type 1"])
pokemon_group

pokemon_comparison = pokemon_group.mean()
pokemon_comparison

                 HP      Attack     Defense    Sp. Atk    Sp. Def       Speed
Type 1
Bug       56.884058   70.971014   70.724638  53.869565  64.797101   61.681159
Dark      66.806452   88.387097   70.225806  74.645161  69.516129   76.161290
Dragon    83.312500  112.125000   86.375000  96.843750  88.843750   83.031250
Electric  59.795455   69.090909   66.295455  90.022727  73.704545   84.500000
Fairy     74.117647   61.529412   65.705882  78.529412  84.705882   48.588235
Fighting  69.851852   96.777778   65.925926  53.111111  64.703704   66.074074
Fire      69.903846   84.769231   67.769231  88.980769  72.211538   74.442308
Flying    70.750000   78.750000   66.250000  94.250000  72.500000  102.500000
Ghost     64.437500   73.781250   81.187500  79.343750  76.468750   64.343750
Grass     67.271429   73.214286   70.800000  77.500000  70.428571   61.928571
Ground    73.781250   95.750000   84.843750  56.468750  62.750000   63.906250
Ice       72.000000   72.750000   71.416667  77.541667  76.291667   63.458333
Normal    77.275510   73.469388   59.846939  55.816327  63.724490   71.551020
Poison    67.250000   74.678571   68.821429  60.428571  64.392857   63.571429
Psychic   70.631579   71.456140   67.684211  98.403509  86.280702   81.491228
Rock      65.363636   92.863636  100.795455  63.340909  75.477273   55.909091
Steel     65.222222   92.703704  126.370370  67.518519  80.629630   55.259259
Water     72.062500   74.151786   72.946429  74.812500  70.517857   65.964286

In [12]:
# Calculate the total power level of each type of pokemon by summing all of the stats together.
# Place the results into a new column.
pokemon_comparison["Total"] = pokemon_comparison.sum(axis=1)

pokemon_comparison["Total"]

Type 1
Bug         378.927536
Dark        445.741935
Dragon      550.531250
Electric    443.409091
Fairy       413.176471
Fighting    416.444444
Fire        458.076923
Flying      485.000000
Ghost       439.562500
Grass       421.142857
Ground      437.500000
Ice         433.458333
Normal      401.683673
Poison      399.142857
Psychic     475.947368
Rock        453.750000
Steel       487.703704
Water       430.455357
Name: Total, dtype: float64

In [13]:
# Bonus: Sort the table by strongest type and export the resulting table to a new CSV.
strongest_pokemon = pokemon_comparison.sort_values(["Total"], ascending=False)
strongest_pokemon.to_csv("C:/Python/Pokemon_output.csv", index=True)

In [1]:
import os
import pandas as pd
import numpy

In [15]:
csv_path = "C:\Python\Soccer2018Data.csv"

In [20]:
# Read with Pandas
Soccer2018_pd = pd.read_csv(csv_path)
Soccer2018_pd
Soccer2018_pd.head()

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,ST,89.0,53.0,62.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93,93,FC Barcelona,RW,92.0,45.0,59.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,LW,88.0,46.0,59.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,ST,87.0,58.0,65.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,Germany,92,92,FC Bayern Munich,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# Import the CSV into a pandas DataFrame
Soccer2018_df = pd.read_csv(csv_path, low_memory=False)
Soccer2018_df

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,ST,89.0,53.0,62.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93,93,FC Barcelona,RW,92.0,45.0,59.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,LW,88.0,46.0,59.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,ST,87.0,58.0,65.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,Germany,92,92,FC Bayern Munich,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,ST,84.0,57.0,62.0,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
6,De Gea,26,Spain,90,92,Manchester United,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,E. Hazard,26,Belgium,90,91,Chelsea,LW,88.0,47.0,61.0,...,59.0,47.0,81.0,61.0,87.0,87.0,82.0,88.0,64.0,82.0
8,T. Kroos,27,Germany,90,90,Real Madrid CF,CDM,83.0,72.0,82.0,...,76.0,72.0,87.0,82.0,81.0,81.0,77.0,80.0,78.0,77.0
9,G. Higuaín,29,Argentina,90,90,Juventus,ST,81.0,46.0,52.0,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
10,Sergio Ramos,31,Spain,90,90,Real Madrid CF,CB,70.0,87.0,83.0,...,84.0,87.0,74.0,83.0,70.0,71.0,72.0,69.0,81.0,72.0
11,K. De Bruyne,26,Belgium,89,92,Manchester City,RM,86.0,57.0,70.0,...,66.0,57.0,84.0,70.0,85.0,85.0,81.0,85.0,71.0,81.0
12,T. Courtois,25,Belgium,89,92,Chelsea,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,A. Sánchez,28,Chile,89,89,Arsenal,RM,85.0,56.0,64.0,...,62.0,56.0,79.0,64.0,85.0,85.0,83.0,86.0,66.0,83.0
14,L. Modrić,31,Croatia,89,89,Real Madrid CF,CDM,86.0,72.0,80.0,...,78.0,72.0,86.0,80.0,83.0,84.0,76.0,83.0,80.0,76.0
15,G. Bale,27,Wales,89,89,Real Madrid CF,RW,86.0,67.0,71.0,...,72.0,67.0,81.0,71.0,87.0,87.0,87.0,87.0,74.0,87.0
16,S. Agüero,29,Argentina,89,89,Manchester City,ST,85.0,44.0,54.0,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0
17,G. Chiellini,32,Italy,89,89,Juventus,CB,55.0,86.0,76.0,...,78.0,86.0,60.0,76.0,55.0,58.0,59.0,56.0,75.0,59.0
18,G. Buffon,39,Italy,89,89,Juventus,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,P. Dybala,23,Argentina,88,93,Juventus,ST,86.0,43.0,55.0,...,55.0,43.0,78.0,55.0,86.0,86.0,83.0,87.0,60.0,83.0
20,J. Oblak,24,Slovenia,88,93,Atlético Madrid,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,A. Griezmann,26,France,88,91,Atlético Madrid,LW,84.0,48.0,57.0,...,56.0,48.0,76.0,57.0,85.0,84.0,85.0,86.0,60.0,85.0
22,Thiago,26,Spain,88,90,FC Bayern Munich,CDM,86.0,66.0,76.0,...,72.0,66.0,85.0,76.0,83.0,83.0,77.0,83.0,75.0,77.0
23,P. Aubameyang,28,Gabon,88,88,Borussia Dortmund,ST,82.0,52.0,59.0,...,62.0,52.0,74.0,59.0,84.0,83.0,85.0,84.0,65.0,85.0
24,L. Bonucci,30,Italy,88,88,Milan,CB,68.0,86.0,83.0,...,79.0,86.0,75.0,83.0,66.0,66.0,65.0,63.0,76.0,65.0
25,J. Boateng,28,Germany,88,88,FC Bayern Munich,CB,67.0,85.0,82.0,...,81.0,85.0,73.0,82.0,66.0,69.0,65.0,65.0,79.0,65.0
26,D. Godín,31,Uruguay,88,88,Atlético Madrid,CB,63.0,86.0,80.0,...,79.0,86.0,69.0,80.0,62.0,63.0,64.0,61.0,76.0,64.0
27,M. Hummels,28,Germany,88,88,FC Bayern Munich,CB,71.0,85.0,83.0,...,80.0,85.0,77.0,83.0,69.0,70.0,69.0,68.0,78.0,69.0
28,M. Özil,28,Germany,88,88,Arsenal,RW,85.0,41.0,57.0,...,52.0,41.0,79.0,57.0,82.0,83.0,76.0,83.0,58.0,76.0
29,H. Lloris,30,France,88,88,Tottenham Hotspur,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17951,M. Hurst,21,Scotland,48,58,St. Johnstone FC,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17952,A. Osmanoski,17,FYR Macedonia,48,68,SpVgg Unterhaching,CM,48.0,46.0,47.0,...,47.0,46.0,47.0,47.0,47.0,48.0,46.0,47.0,47.0,46.0
17953,K. Cotter,18,England,48,67,Luton Town,RB,46.0,44.0,46.0,...,47.0,44.0,47.0,46.0,45.0,48.0,44.0,46.0,48.0,44.0
17954,T. Robinson,19,England,48,64,Bradford City,LM,45.0,32.0,35.0,...,37.0,32.0,41.0,35.0,45.0,47.0,45.0,47.0,39.0,45.0
17955,R. Hughes,18,Scotland,48,63,Hamilton Academical FC,CM,47.0,48.0,48.0,...,47.0,48.0,47.0,48.0,46.0,47.0,44.0,46.0,47.0,44.0
17956,Z. Mohammed,17,England,48,64,Accrington Stanley,CB,32.0,47.0,41.0,...,44.0,47.0,33.0,41.0,32.0,34.0,34.0,33.0,42.0,34.0
17957,D. Peppard,17,Republic of Ireland,47,61,Bohemian FC,RB,40.0,45.0,45.0,...,46.0,45.0,41.0,45.0,39.0,42.0,37.0,40.0,46.0,37.0
17958,C. Rogers,17,Republic of Ireland,47,59,Bray Wanderers,CB,34.0,47.0,43.0,...,46.0,47.0,36.0,43.0,35.0,37.0,37.0,35.0,44.0,37.0
17959,N. McLaughlin,18,Scotland,47,64,Partick Thistle F.C.,CAM,47.0,40.0,44.0,...,43.0,40.0,46.0,44.0,47.0,48.0,46.0,47.0,44.0,46.0
17960,L. Kiely,18,Republic of Ireland,47,69,Shamrock Rovers,CAM,46.0,41.0,43.0,...,41.0,41.0,45.0,43.0,44.0,45.0,42.0,44.0,41.0,42.0
17961,J. Latibeaudiere,17,England,47,73,Manchester City,CB,32.0,46.0,42.0,...,45.0,46.0,35.0,42.0,32.0,35.0,32.0,32.0,43.0,32.0
17962,J. Payne,18,England,47,63,Barnet,CB,35.0,46.0,40.0,...,46.0,46.0,35.0,40.0,36.0,39.0,36.0,38.0,45.0,36.0
17963,G. Manley,19,Republic of Ireland,47,58,Cork City,CM,44.0,48.0,48.0,...,46.0,48.0,46.0,48.0,42.0,44.0,41.0,42.0,46.0,41.0
17964,P. Phillips,18,Republic of Ireland,47,67,Cork City,CM,45.0,48.0,48.0,...,47.0,48.0,46.0,48.0,43.0,44.0,41.0,42.0,46.0,41.0
17965,A. Byrne,18,Republic of Ireland,47,61,Cork City,CM,46.0,43.0,46.0,...,46.0,43.0,46.0,46.0,46.0,47.0,44.0,45.0,46.0,44.0
17966,K. Fujikawa,18,Japan,47,67,Júbilo Iwata,CM,46.0,47.0,47.0,...,46.0,47.0,46.0,47.0,43.0,45.0,40.0,44.0,46.0,40.0
17967,K. Egan,19,England,47,67,Exeter City,RB,38.0,46.0,41.0,...,46.0,46.0,37.0,41.0,38.0,42.0,37.0,42.0,46.0,37.0
17968,T. Brownsword,17,England,47,68,Morecambe,CB,31.0,46.0,40.0,...,45.0,46.0,32.0,40.0,32.0,34.0,33.0,32.0,43.0,33.0
17969,F. Prohart,18,Austria,47,67,Wolfsberger AC,ST,48.0,27.0,31.0,...,33.0,27.0,41.0,31.0,48.0,47.0,46.0,49.0,35.0,46.0
17970,A. Kilgour,19,England,47,56,Bristol Rovers,CB,37.0,46.0,43.0,...,43.0,46.0,38.0,43.0,37.0,38.0,38.0,37.0,42.0,38.0
17971,R. White,18,England,47,65,Bolton Wanderers,ST,48.0,32.0,33.0,...,33.0,32.0,42.0,33.0,49.0,46.0,52.0,47.0,34.0,52.0
17972,A. Conway,19,Republic of Ireland,47,63,Galway United,CB,41.0,45.0,43.0,...,46.0,45.0,41.0,43.0,42.0,44.0,42.0,44.0,46.0,42.0
17973,T. Sawyer,18,England,46,58,Grimsby Town,CM,46.0,42.0,43.0,...,45.0,42.0,45.0,43.0,46.0,47.0,45.0,47.0,46.0,45.0
17974,J. Keeble,18,England,46,56,Grimsby Town,CB,32.0,45.0,41.0,...,46.0,45.0,34.0,41.0,33.0,35.0,33.0,34.0,44.0,33.0
17975,T. Käßemodel,28,Germany,46,46,FC Erzgebirge Aue,CM,44.0,38.0,42.0,...,37.0,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0
17976,A. Kelsey,17,England,46,63,Scunthorpe United,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,B. Richardson,47,England,46,46,Wycombe Wanderers,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17978,J. Young,17,Scotland,46,61,Swindon Town,ST,44.0,28.0,29.0,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
17979,J. Lundstram,18,England,46,64,Crewe Alexandra,CM,45.0,46.0,47.0,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
17980,L. Sackey,18,Ghana,46,64,Scunthorpe United,ST,29.0,45.0,38.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [28]:
# Collect a list of all the unique values in "Preferred Position"
Soccer2018_df["Preferred Position"].unique()

array(['ST', 'RW', 'LW', 'GK', 'CDM', 'CB', 'RM', 'CM', 'LM', 'LB', 'CAM',
       'RB', 'CF', 'RWB', 'LWB'], dtype=object)

In [33]:
# Looking only at strikers (ST) to start
strikers_2018_df = Soccer2018_df.loc[Soccer2018_df["Preferred Position"] == "ST", :]
strikers_2018_df.head()

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,ST,89.0,53.0,62.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,ST,87.0,58.0,65.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
5,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,ST,84.0,57.0,62.0,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
9,G. Higuaín,29,Argentina,90,90,Juventus,ST,81.0,46.0,52.0,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
16,S. Agüero,29,Argentina,89,89,Manchester City,ST,85.0,44.0,54.0,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0

In [40]:
# Sort the DataFrame by the values in the "ST" column to find the worst
strikers_2018_df = strikers_2018_df.sort_values("ST", ascending=False)
strikers_2018_df

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
2276,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,ST,89.0,53.0,62.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
2274,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,ST,84.0,57.0,62.0,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
2275,L. Suárez,30,Uruguay,92,92,FC Barcelona,ST,87.0,58.0,65.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
2273,G. Higuaín,29,Argentina,90,90,Juventus,ST,81.0,46.0,52.0,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
2272,S. Agüero,29,Argentina,89,89,Manchester City,ST,85.0,44.0,54.0,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0
2271,P. Aubameyang,28,Gabon,88,88,Borussia Dortmund,ST,82.0,52.0,59.0,...,62.0,52.0,74.0,59.0,84.0,83.0,85.0,84.0,65.0,85.0
2268,R. Lukaku,24,Belgium,86,90,Manchester United,ST,77.0,53.0,57.0,...,56.0,53.0,71.0,57.0,80.0,77.0,84.0,78.0,58.0,84.0
2267,H. Kane,23,England,86,90,Tottenham Hotspur,ST,79.0,57.0,62.0,...,60.0,57.0,74.0,62.0,82.0,78.0,84.0,79.0,62.0,84.0
2269,Z. Ibrahimović,35,Sweden,88,88,Manchester United,ST,83.0,52.0,60.0,...,54.0,52.0,78.0,60.0,83.0,80.0,84.0,82.0,58.0,84.0
2270,E. Cavani,30,Uruguay,87,87,Paris Saint-Germain,ST,80.0,58.0,62.0,...,61.0,58.0,74.0,62.0,82.0,79.0,84.0,80.0,64.0,84.0
2263,A. Lacazette,26,France,85,88,Arsenal,ST,81.0,54.0,60.0,...,59.0,54.0,74.0,60.0,83.0,80.0,83.0,82.0,62.0,83.0
2261,T. Müller,27,Germany,86,86,FC Bayern Munich,ST,81.0,58.0,65.0,...,66.0,58.0,78.0,65.0,83.0,81.0,83.0,81.0,68.0,83.0
2262,P. Dybala,23,Argentina,88,93,Juventus,ST,86.0,43.0,55.0,...,55.0,43.0,78.0,55.0,86.0,86.0,83.0,87.0,60.0,83.0
2265,Aduriz,36,Spain,84,84,Athletic Club de Bilbao,ST,76.0,60.0,58.0,...,58.0,60.0,69.0,58.0,80.0,73.0,83.0,75.0,58.0,83.0
2264,K. Benzema,29,France,86,86,Real Madrid CF,ST,82.0,44.0,52.0,...,51.0,44.0,72.0,52.0,84.0,80.0,83.0,83.0,56.0,83.0
2266,Diego Costa,28,Spain,86,86,Chelsea,ST,76.0,57.0,60.0,...,58.0,57.0,71.0,60.0,80.0,76.0,83.0,77.0,60.0,83.0
2257,A. Belotti,23,Italy,83,90,Torino,ST,74.0,51.0,52.0,...,52.0,51.0,65.0,52.0,78.0,72.0,82.0,75.0,54.0,82.0
2255,E. Džeko,31,Bosnia Herzegovina,84,84,Roma,ST,77.0,49.0,57.0,...,52.0,49.0,73.0,57.0,79.0,75.0,82.0,76.0,55.0,82.0
2256,Falcao,31,Colombia,84,84,AS Monaco,ST,77.0,54.0,57.0,...,54.0,54.0,71.0,57.0,79.0,74.0,82.0,76.0,56.0,82.0
2259,K. Mbappé,18,France,83,94,Paris Saint-Germain,ST,81.0,58.0,64.0,...,64.0,58.0,75.0,64.0,82.0,81.0,82.0,82.0,67.0,82.0
2258,Morata,24,Spain,84,88,Chelsea,ST,79.0,45.0,51.0,...,51.0,45.0,70.0,51.0,81.0,78.0,82.0,80.0,56.0,82.0
2260,M. Icardi,24,Argentina,84,89,Inter,ST,75.0,46.0,50.0,...,49.0,46.0,67.0,50.0,79.0,73.0,82.0,75.0,51.0,82.0
2251,C. Immobile,27,Italy,82,83,Lazio,ST,75.0,54.0,56.0,...,56.0,54.0,67.0,56.0,79.0,74.0,81.0,76.0,58.0,81.0
2249,B. Dost,28,Netherlands,83,83,Sporting CP,ST,71.0,57.0,57.0,...,54.0,57.0,67.0,57.0,76.0,68.0,81.0,69.0,55.0,81.0
2250,A. Martial,21,France,82,90,Manchester United,ST,79.0,55.0,60.0,...,62.0,55.0,72.0,60.0,81.0,80.0,81.0,82.0,65.0,81.0
2252,Willian José,25,Brazil,82,86,Real Sociedad,ST,75.0,53.0,56.0,...,53.0,53.0,68.0,56.0,78.0,73.0,81.0,75.0,56.0,81.0
2254,K. Gameiro,30,France,83,83,Atlético Madrid,ST,80.0,51.0,59.0,...,59.0,51.0,74.0,59.0,81.0,80.0,81.0,80.0,62.0,81.0
2253,T. Werner,21,Germany,82,87,RB Leipzig,ST,77.0,46.0,53.0,...,55.0,46.0,68.0,53.0,80.0,78.0,81.0,80.0,59.0,81.0
2246,J. Hernández,29,Mexico,82,82,West Ham United,ST,76.0,46.0,51.0,...,52.0,46.0,68.0,51.0,79.0,75.0,80.0,77.0,55.0,80.0
2244,D. Sturridge,27,England,82,82,Liverpool,ST,78.0,44.0,51.0,...,49.0,44.0,70.0,51.0,80.0,76.0,80.0,78.0,52.0,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,A. Bruseth,18,Norway,50,62,Kristiansund BK,ST,46.0,29.0,29.0,...,32.0,29.0,39.0,29.0,48.0,46.0,49.0,48.0,33.0,49.0
29,A. Rose,18,Jamaica,50,60,Grimsby Town,ST,47.0,36.0,36.0,...,40.0,36.0,42.0,36.0,49.0,48.0,49.0,49.0,40.0,49.0
28,G. Fasolo,18,Italy,50,65,Cittadella,ST,53.0,27.0,35.0,...,34.0,27.0,48.0,35.0,52.0,53.0,49.0,53.0,38.0,49.0
23,J. Aherne,18,Republic of Ireland,50,64,Bray Wanderers,ST,48.0,34.0,35.0,...,38.0,34.0,43.0,35.0,50.0,49.0,49.0,50.0,39.0,49.0
27,C. Senior,20,England,55,67,Colchester United,ST,51.0,32.0,37.0,...,41.0,32.0,45.0,37.0,52.0,54.0,49.0,54.0,43.0,49.0
26,M. Moric,17,Australia,50,66,Newcastle Jets,ST,49.0,28.0,32.0,...,33.0,28.0,43.0,32.0,50.0,48.0,49.0,49.0,35.0,49.0
24,L. Demaj,19,Germany,50,64,SV Meppen,ST,49.0,27.0,31.0,...,34.0,27.0,42.0,31.0,50.0,49.0,49.0,51.0,36.0,49.0
22,A. Berisha,19,Sweden,50,65,Halmstads BK,ST,43.0,39.0,36.0,...,35.0,39.0,40.0,36.0,45.0,42.0,49.0,43.0,35.0,49.0
15,A. Junge,24,Denmark,50,56,FC Helsingør,ST,48.0,29.0,33.0,...,35.0,29.0,42.0,33.0,49.0,48.0,49.0,49.0,37.0,49.0
20,J. Johansson,18,Denmark,50,64,FC Nordsjælland,ST,47.0,30.0,32.0,...,32.0,30.0,41.0,32.0,48.0,46.0,49.0,47.0,34.0,49.0
19,S. Nolan,17,Republic of Ireland,50,62,Bohemian FC,ST,49.0,33.0,36.0,...,39.0,33.0,44.0,36.0,50.0,50.0,49.0,50.0,40.0,49.0
18,J. Earl,18,England,57,69,Preston North End,ST,49.0,51.0,51.0,...,56.0,51.0,49.0,51.0,50.0,53.0,49.0,52.0,56.0,49.0
17,T. Knowles,18,England,50,71,Cambridge United,ST,46.0,33.0,33.0,...,34.0,33.0,40.0,33.0,48.0,45.0,49.0,46.0,35.0,49.0
16,S. Brady,21,Australia,53,64,Brisbane Roar,ST,53.0,40.0,43.0,...,46.0,40.0,49.0,43.0,52.0,53.0,49.0,53.0,46.0,49.0
14,J. McMenemy,18,England,50,64,Lincoln City,ST,45.0,30.0,31.0,...,34.0,30.0,39.0,31.0,47.0,46.0,49.0,47.0,36.0,49.0
13,S. Kogut,20,Poland,50,59,Termalica Bruk-Bet Nieciecza,ST,44.0,32.0,31.0,...,32.0,32.0,38.0,31.0,46.0,44.0,49.0,45.0,34.0,49.0
21,N. Blasucci,17,Switzerland,50,67,FC St. Gallen,ST,49.0,25.0,28.0,...,30.0,25.0,41.0,28.0,50.0,47.0,49.0,50.0,32.0,49.0
11,S. McSweeney,19,Republic of Ireland,49,59,Limerick FC,ST,48.0,29.0,34.0,...,34.0,29.0,45.0,34.0,48.0,48.0,48.0,48.0,36.0,48.0
12,F. Roepstorff,19,Denmark,51,70,FC Helsingør,ST,52.0,40.0,44.0,...,42.0,40.0,50.0,44.0,51.0,52.0,48.0,51.0,44.0,48.0
7,M. Warming,17,Denmark,51,66,Brøndby IF,ST,50.0,36.0,40.0,...,40.0,36.0,47.0,40.0,49.0,50.0,47.0,50.0,42.0,47.0
6,H. Logan,18,England,53,72,Milton Keynes Dons,ST,52.0,38.0,43.0,...,43.0,38.0,50.0,43.0,50.0,52.0,47.0,51.0,44.0,47.0
10,M. Foy,18,England,48,68,Cambridge United,ST,47.0,31.0,34.0,...,38.0,31.0,41.0,34.0,48.0,47.0,47.0,49.0,39.0,47.0
8,R. Roache,17,Republic of Ireland,48,69,Blackpool,ST,43.0,27.0,29.0,...,31.0,27.0,38.0,29.0,45.0,43.0,47.0,44.0,32.0,47.0
9,P. Almqvist,17,Sweden,51,68,IFK Norrköping,ST,51.0,43.0,47.0,...,48.0,43.0,50.0,47.0,50.0,52.0,47.0,51.0,48.0,47.0
5,F. Prohart,18,Austria,47,67,Wolfsberger AC,ST,48.0,27.0,31.0,...,33.0,27.0,41.0,31.0,48.0,47.0,46.0,49.0,35.0,46.0
4,J. Young,17,Scotland,46,61,Swindon Town,ST,44.0,28.0,29.0,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
3,E. Mason-Clark,17,England,50,63,Barnet,ST,49.0,33.0,35.0,...,39.0,33.0,42.0,35.0,49.0,50.0,45.0,51.0,40.0,45.0
2,O. Sowunmi,21,England,59,71,Yeovil Town,ST,35.0,58.0,47.0,...,52.0,58.0,37.0,47.0,38.0,38.0,44.0,37.0,49.0,44.0
1,M. Zettl,18,Germany,50,67,SpVgg Unterhaching,ST,47.0,32.0,36.0,...,39.0,32.0,42.0,36.0,46.0,49.0,43.0,49.0,41.0,43.0
0,L. Sackey,18,Ghana,46,64,Scunthorpe United,ST,29.0,45.0,38.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [37]:
# Reset the index so that the index is now based on the sorting locations
strikers_2018_df = strikers_2018_df.reset_index(drop=True)
strikers_2018_df.head()

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,L. Sackey,18,Ghana,46,64,Scunthorpe United,ST,29.0,45.0,38.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0
1,M. Zettl,18,Germany,50,67,SpVgg Unterhaching,ST,47.0,32.0,36.0,...,39.0,32.0,42.0,36.0,46.0,49.0,43.0,49.0,41.0,43.0
2,O. Sowunmi,21,England,59,71,Yeovil Town,ST,35.0,58.0,47.0,...,52.0,58.0,37.0,47.0,38.0,38.0,44.0,37.0,49.0,44.0
3,E. Mason-Clark,17,England,50,63,Barnet,ST,49.0,33.0,35.0,...,39.0,33.0,42.0,35.0,49.0,50.0,45.0,51.0,40.0,45.0
4,J. Young,17,Scotland,46,61,Swindon Town,ST,44.0,28.0,29.0,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0

In [38]:
# Save all of the information collected on the worst striker
worst_striker = strikers_2018_df.loc[0, :]
worst_striker = strikers_2018_df.loc[len(strikers_2018_df)-1, :]
worst_striker

Name                          L. Sackey
Age                                  18
Nationality                       Ghana
Overall                              46
Potential                            64
Club                  Scunthorpe United
Preferred Position                   ST
CAM                                  29
CB                                   45
CDM                                  38
CF                                   29
CM                                   30
LAM                                  29
LB                                   40
LCB                                  45
LCM                                  30
LDM                                  38
LF                                   29
LM                                   30
LS                                   31
LW                                   29
LWB                                  38
RAM                                  29
RB                                   40
RCB                                  45
RCM                                  30
RDM                                  38
RF                                   29
RM                                   30
RS                                   31
RW                                   29
RWB                                  38
ST                                   31
Name: 0, dtype: object

In [41]:
# Import Dependencies
import pandas as pd

In [42]:
bitcoin_csv = "C:/Python/Bitcoin_cash_price.csv"
dash_csv = "C:/Python/dash_price.csv"

In [43]:
bitcoin_df = pd.read_csv(bitcoin_csv)
dash_df = pd.read_csv(dash_csv)

In [44]:
# Merge the two DataFrames together based on the Dates they share
crypto_df = pd.merge(bitcoin_df, dash_df, on="Date")
crypto_df.head()

,Date,Open_x,High_x,Low_x,Close_x,Volume_x,Market Cap_x,Open_y,High_y,Low_y,Close_y,Volume_y,Market Cap_y
0,17-Sep-17,438.90,438.90,384.06,419.86,221828000,"7,279,520,000",298.59,315.58,278.17,313.84,38081600,"2,257,850,000"
1,16-Sep-17,424.49,450.98,388.20,440.22,313583000,"7,039,590,000",284.50,301.23,276.57,298.86,43702600,"2,150,800,000"
2,15-Sep-17,369.49,448.39,301.69,424.02,707231000,"6,126,800,000",236.05,300.11,220.51,284.36,72695500,"1,784,040,000"
3,14-Sep-17,504.22,510.47,367.04,367.04,257431000,"8,359,650,000",301.11,303.74,236.24,236.24,35013800,"2,275,100,000"
4,13-Sep-17,509.47,519.20,471.22,503.61,340344000,"8,445,540,000",324.72,325.16,287.25,301.29,28322500,"2,452,930,000"

In [45]:
bitcoin_df.head()

        Date    Open    High     Low   Close     Volume     Market Cap
0  17-Sep-17  438.90  438.90  384.06  419.86  221828000  7,279,520,000
1  16-Sep-17  424.49  450.98  388.20  440.22  313583000  7,039,590,000
2  15-Sep-17  369.49  448.39  301.69  424.02  707231000  6,126,800,000
3  14-Sep-17  504.22  510.47  367.04  367.04  257431000  8,359,650,000
4  13-Sep-17  509.47  519.20  471.22  503.61  340344000  8,445,540,000

In [46]:
dash_df.head()

        Date    Open    High     Low   Close    Volume     Market Cap
0  17-Sep-17  298.59  315.58  278.17  313.84  38081600  2,257,850,000
1  16-Sep-17  284.50  301.23  276.57  298.86  43702600  2,150,800,000
2  15-Sep-17  236.05  300.11  220.51  284.36  72695500  1,784,040,000
3  14-Sep-17  301.11  303.74  236.24  236.24  35013800  2,275,100,000
4  13-Sep-17  324.72  325.16  287.25  301.29  28322500  2,452,930,000

In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "C:/Python/Resources_ted_talks.csv"
ted_df = pd.read_csv(csv_path)
ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [17]:
# Figure out the minimum and maximum views for a TED Talk
print(ted_df["views"].max())
print(ted_df["views"].min())

print(ted_df.max())
print(ted_df.min())

47227110
50443
comments                                                     6404
description     “People are so afraid of variety that they try...
duration                                                     5256
event                                      World Science Festival
languages                                                      72
main_speaker                                    iO Tillett Wright
name                       iO Tillett Wright: Fifty shades of gay
title                            “Am I dying?” The honest answer.
views                                                    47227110
View Group                                           800k to 999k
dtype: object
comments                                                        2
description     "A forest is much more than what you see," say...
duration                                                      135
event                                               AORN Congress
languages                                                       0
main_speaker                                                OK Go
name               AJ Jacobs: How healthy living nearly killed me
title                        Hidden miracles of the natural world
views                                                       50443
View Group                                              0 to 199k
dtype: object

In [4]:
# Create bins in which to place values based upon TED Talk views
bins = [0, 199999, 399999, 599999, 799999, 999999,
        1999999, 2999999, 3999999, 4999999, 50000000]

# Create labels for these bins
group_labels = ["0 to 199k", "200k to 399k", "400k to 599k", "600k to 799k", "800k to 999k", "1mil to 2mil",
                "2mil to 3mil", "3mil to 4mil", "4mil to 5mil", "5mil to 50mil"]

In [23]:
# Slice the data and place it into bins
df_g = pd.cut(ted_df["views"], bins, labels=group_labels).head()
df_g.head()

0    5mil to 50mil
1     3mil to 4mil
2     1mil to 2mil
3     1mil to 2mil
4    5mil to 50mil
Name: views, dtype: category
Categories (10, object): [0 to 199k < 200k to 399k < 400k to 599k < 600k to 799k ... 2mil to 3mil < 3mil to 4mil < 4mil to 5mil < 5mil to 50mil]

In [25]:
# Place the data series into a new column inside of the DataFrame
#ted_df["View Group"] = pd.cut(ted_df["views"], bins, labels=group_labels)

ted_df["View Group"] = df_g

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views,View Group
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,5mil to 50mil
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,3mil to 4mil
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,1mil to 2mil
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,1mil to 2mil
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,5mil to 50mil

In [14]:
# Create a GroupBy object based upon "View Group"

ted_group = ted_df.groupby("View Group")

View Group

In [15]:
# Find how many rows fall into each bin
print(ted_group["View Group"].count())

View Group
0 to 199k          32
200k to 399k      135
400k to 599k      234
600k to 799k      307
800k to 999k      339
1mil to 2mil     1004
2mil to 3mil      239
3mil to 4mil       93
4mil to 5mil       68
5mil to 50mil      99
Name: View Group, dtype: int64

In [16]:
# Get the average of each column within the GroupBy object
ted_group[["comments", "duration", "languages"]].mean()

                 comments    duration  languages
View Group
0 to 199k       76.937500  898.187500   4.062500
200k to 399k    81.992593  832.192593  18.785185
400k to 599k   107.162393  870.517094  22.940171
600k to 799k   118.912052  829.039088  24.400651
800k to 999k   119.628319  798.772861  25.678466
1mil to 2mil   168.136454  809.899402  27.899402
2mil to 3mil   299.481172  832.430962  32.807531
3mil to 4mil   360.870968  809.505376  34.258065
4mil to 5mil   507.088235  920.514706  35.720588
5mil to 50mil  650.393939  884.282828  40.252525

In [ ]:
#Kickstarter Project

# The path to our CSV file

# Read our Kickstarter data into pandas

# Get a list of all of our columns for easy reference


# Remove projects that made no money at all

In [21]:
#Kickstarter Project

# The path to our CSV file

import os
import pandas as pd

csv_path = "C:/Python/KickstarterData.csv"

kickstarter_df = pd.read_csv(csv_path)

In [40]:
#for i in enumerate(kickstarter_df.columns):
#    print("index:{} \tname:{}".format(i, name))

test_l =[4,7,2,9,4,10]

for i,num in enumerate(test_l):
    print("i: {}\tnum: {}".format(i,num))

i: 0	num: 4
i: 1	num: 7
i: 2	num: 2
i: 3	num: 9
i: 4	num: 4
i: 5	num: 10

In [34]:
kickstarter_df.head()

,id,photo,name,blurb,goal,pledged,state,slug,disable_communication,country,...,location,category,profile,spotlight,urls,source_url,friends,is_starred,is_backing,permissions
0,1645666704,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",The Class Act Players Theatre Company Presents...,The Class Act Players put on another one of th...,1500.0,2925.0,successful,the-class-act-players-theatre-company-presents...,False,US,...,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
1,874638240,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,"A brand new play about love and entitlement, b...",2500.0,2936.0,successful,mr-incredible-by-camilla-whitehill-vault-festival,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
2,247074984,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",RUN,Yonni's pissed off in a world filled with scho...,1000.0,1200.0,successful,run-10,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
3,1941196813,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",9th International Meeting of Youth Theatre sap...,27. April bis 1. Mai 2016 in Brixen/Südtirol/I...,2000.0,2135.0,successful,9th-international-meeting-of-youth-theatre-sap...,False,IT,...,"{""country"":""IT"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
4,421961595,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",Get Conti to the Ed Fringe!,The Italia Conti 2nd years are going to Ed Fri...,1000.0,1250.0,successful,get-conti-to-the-ed-fringe,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN

In [35]:
kickstarter_df.columns

Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'is_starrable', 'backers_count',
       'static_usd_rate', 'usd_pledged', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')

In [37]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"

reduced_kickstarter_df = kickstarter_df.loc[:, ["name", "goal", "pledged",
                                    "state", "country", "staff_pick", "backers_count", "spotlight"]]
reduced_kickstarter_df

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.00,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.00,successful,GB,True,15,True
2,RUN,1000.0,1200.00,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.00,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.00,successful,GB,False,28,True
5,Somebody Out There Loves Me @ Edinburgh Fringe...,1100.0,1100.00,successful,GB,False,41,True
6,Stand Up & Slam! at the Edinburgh Fringe,1500.0,1605.00,successful,GB,False,49,True
7,Edinburgh Fringe Tour of Two Modern Classics,2550.0,2552.00,successful,GB,False,17,True
8,Forefront Festival 2015,7200.0,7230.00,successful,US,False,68,True
9,Tangerine Theatre presents GODDESS by Serena H...,1200.0,1625.00,successful,GB,False,34,True
10,I Would... get us to Edinburgh!,700.0,745.00,successful,GB,False,27,True
11,Hamlet the Hip-Hopera,9747.0,10103.00,successful,US,True,132,True
12,In The Company Of Women,1987.0,1987.00,successful,GB,False,17,True
13,Interview with a Genius and Half Arsed Flyerer...,230.0,230.00,successful,GB,False,8,True
14,Pride Con,15000.0,15110.00,successful,US,False,60,True
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.00,successful,US,True,80,True
16,Stacy Queen & Berri Juicy @ Fringe Festival 2016,500.0,610.00,successful,AU,False,12,True
17,"My Life in Michaels, a short play",1200.0,1265.00,successful,US,False,19,True
18,African Celebration!,40000.0,40219.00,successful,NO,False,58,True
19,MSGA Junior Theater Festival 2016,1000.0,1300.00,successful,US,False,17,True
20,A Kingdom for a Stage! - Much Ado...,5000.0,6475.00,successful,US,False,105,True
21,BE BETTER: Urban Foxes - Edinburgh Festival (F...,1300.0,1644.00,successful,GB,False,34,True
22,"Born in Burnley, Made in Edinburgh",1000.0,1132.00,successful,GB,False,51,True
23,SOCKS,1000.0,1420.00,successful,CA,False,29,True
24,CASA Latin American Theatre Festival 2015,7500.0,7503.77,successful,GB,True,117,True
25,Scattered,2500.0,2501.00,successful,GB,False,28,True
26,EUTCo presents scenes from Tom Wells' 'The Kit...,700.0,806.00,successful,GB,False,22,True
27,Two Thirds @ the Edinburgh Fringe Festival,800.0,800.00,successful,GB,False,9,True
28,The Curiositorium at the Edinburgh Fringe 2015,1500.0,1936.99,successful,GB,False,61,True
29,ANTIGONE: An Arabian Tragedy,300.0,375.00,successful,GB,False,5,True
...,...,...,...,...,...,...,...,...
4090,Thérèse Raquin at The Courtyard Theatre,250.0,250.00,successful,GB,False,22,True
4091,The Honeymoon is Over - An Original Play by Za...,900.0,1175.00,successful,US,False,12,True
4092,"""Lucy & Vincente"" A New Play about Lucille Ball",3000.0,3319.00,successful,US,False,43,True
4093,The Lower Depths,2000.0,2287.00,successful,US,False,26,True
4094,Green Light Productions produces theatre creat...,5000.0,5024.00,successful,US,False,41,True
4095,Bluebirds by Joe Brondo,7000.0,7365.00,successful,US,True,75,True
4096,"""Lifted"" - The Theatre Shed's 10 Year Annivers...",2000.0,3100.00,successful,GB,False,78,True
4097,Dandelion Theatre: 'Body Awareness' by Annie B...,2000.0,2041.00,successful,US,False,23,True
4098,"Go People does 'Almost, Maine'",5000.0,5430.00,successful,GB,True,100,True
4099,"One-Man Show: ""The Book Of oded, Chapter 2""",10000.0,10299.00,successful,US,False,162,True
4100,The Seagull Project Presents: The Three Sisters,20000.0,21573.00,successful,US,True,202,True
4101,A Hard Rain - New York Debut,3000.0,3133.00,successful,US,False,28,True
4102,Secret Diaries,2500.0,2867.99,successful,GB,False,95,True
4103,We Rise,1500.0,1800.00,successful,US,False,31,True
4104,Verdigris - A Play by Jim Beaver,35000.0,56079.83,successful,US,True,930,True
4105,The Butterfingers Angel... [By The Mummers],8000.0,8010.00,successful,US,False,113,True
4106,Lord of the Flies - Syracuse University,4000.0,4443.00,successful,US,False,65,True
4107,Beauty and the Beast,4500.0,4592.00,successful,GB,False,63,True
4108,A Few Brave Men: The Chosen Few,5000.0,5000.00,successful,US,False,28,True
4109,Going To Market,2000.0,2100.00,successful,US,False,41,True
4110,LIBERTY! EQUALITY! AND FIREWORKS!... A Civil R...,3000.0,3506.00,successful,US,False,35,True
4111,EUTCo presents 'One Flew Over the Cuckoo's Nest',1000.0,1330.00,successful,GB,False,31,True
4112,CHILD Z,4000.0,4545.00,successful,GB,False,114,True
4113,Saxon Court at Southwark Playhouse,1500.0,1950.00,successful,GB,True,51,True
4114,The Village - one woman show,5000.0,5343.00,successful,CA,False,72,True
4115,Bring Love's Labour's Lost to Minnesota,25000.0,25388.00,successful,US,True,213,True
4116,Score,300.0,340.00,successful,GB,False,17,True
4117,"""The Santaland Diaries"" by David Sedaris in Lo...",6000.0,7140.00,successful,US,False,108,True
4118,REBATEnsemble Presents: ICONS - The Martin Show,300.0,312.00,successful,US,False,6,True
4119,Licensed To Ill,3000.0,3084.00,successful,GB,False,78,True

In [38]:
# Remove projects that made no money at all
reduced_kickstarter_df = reduced_kickstarter_df.loc[(
    reduced_kickstarter_df["pledged"] > 0)]
reduced_kickstarter_df.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [39]:
# Collect only those projects that were hosted in the US.

# Create a list of the columns
columns = [
    "name", "goal", "pledged", "state", 
    "country", "staff_pick", "backers_count", "spotlight"]

#  Create a new df for "US" with the columns. 

hosted_in_us = reduced_kickstarter_df.loc[reduced_kickstarter_df["country"] == "US",  columns]
hosted_in_us.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True
14,Pride Con,15000.0,15110.0,successful,US,False,60,True
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True

In [41]:
# Create a new column that finds the average amount pledged to a project
average_donation = hosted_in_us['pledged'] / hosted_in_us['backers_count']
average_donation

0       172.058824
8       106.323529
11       76.537879
14      251.833333
15      128.825000
17       66.578947
19       76.470588
20       61.666667
31      105.000000
32      143.181818
33       69.117647
39      167.117647
42       62.714286
43       81.975000
44       54.241935
45       65.216667
46       42.036765
47       99.131579
48       54.347826
50       93.147059
52       37.016129
54       90.130952
59      119.047619
64      229.772727
67       59.701493
73       27.133333
74       50.500000
75      106.358491
77       54.961165
79       44.426230
           ...
4076    107.002075
4077     50.981818
4078     52.551020
4080     47.878788
4081    150.416667
4082     96.666667
4083    133.333333
4084     51.222222
4086     93.813433
4087    176.086957
4088     45.478261
4091     97.916667
4092     77.186047
4093     87.961538
4094    122.536585
4095     98.200000
4097     88.739130
4099     63.574074
4100    106.797030
4101    111.892857
4103     58.064516
4104     60.300892
4105     70.884956
4106     68.353846
4108    178.571429
4109     51.219512
4110    100.171429
4115    119.192488
4117     66.111111
4118     52.000000
Length: 2129, dtype: float64

In [42]:
# Create a new column that finds the average amount pledged to a project
average_donation = hosted_in_us['pledged'] / hosted_in_us['backers_count']
average_donation

0       172.058824
8       106.323529
11       76.537879
14      251.833333
15      128.825000
17       66.578947
19       76.470588
20       61.666667
31      105.000000
32      143.181818
33       69.117647
39      167.117647
42       62.714286
43       81.975000
44       54.241935
45       65.216667
46       42.036765
47       99.131579
48       54.347826
50       93.147059
52       37.016129
54       90.130952
59      119.047619
64      229.772727
67       59.701493
73       27.133333
74       50.500000
75      106.358491
77       54.961165
79       44.426230
           ...
4076    107.002075
4077     50.981818
4078     52.551020
4080     47.878788
4081    150.416667
4082     96.666667
4083    133.333333
4084     51.222222
4086     93.813433
4087    176.086957
4088     45.478261
4091     97.916667
4092     77.186047
4093     87.961538
4094    122.536585
4095     98.200000
4097     88.739130
4099     63.574074
4100    106.797030
4101    111.892857
4103     58.064516
4104     60.300892
4105     70.884956
4106     68.353846
4108    178.571429
4109     51.219512
4110    100.171429
4115    119.192488
4117     66.111111
4118     52.000000
Length: 2129, dtype: float64

In [43]:
# Calculate the total number of backers for all US projects
hosted_in_us["backers_count"].sum()

89273

In [45]:
# Calculate the average number of backers for all US projects
hosted_in_us["backers_count"].mean()

41.931892907468296

In [47]:
 # Collect only those US campaigns that have been picked as a "Staff Pick"
picked_by_staff = hosted_in_us.loc[hosted_in_us["staff_pick"] == True]
picked_by_staff

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
11,Hamlet the Hip-Hopera,9747.0,10103.00,successful,US,True,132,True
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.00,successful,US,True,80,True
39,"""Poor People"" at FringeNYC 2015",5500.0,5682.00,successful,US,True,34,True
44,Queen Mab's Steampunk and Fairie Street Festival,1300.0,3363.00,successful,US,True,62,True
45,RAFT: a new play by Emily Kitchens,7500.0,7826.00,successful,US,True,120,True
47,The Spinning Wheel: a son remixes a father's r...,20000.0,22602.00,successful,US,True,228,True
50,Bloomers Presents: LaughtHERfest,8000.0,9501.00,successful,US,True,102,True
54,Natasha Noman's Noman's Land | Aug 5-15th Edi...,7000.0,7571.00,successful,US,True,84,True
107,Peter/Wendy goes to the 2015 Edinburgh Fringe ...,10000.0,12003.00,successful,US,True,95,True
115,La Lune de Femme goes to New Orleans Fringe,5000.0,5519.00,successful,US,True,79,True
117,Secular Solstice 2014,7500.0,8157.01,successful,US,True,164,True
122,Southern Shakespeare Festival,7500.0,8202.00,successful,US,True,63,True
128,Too Much Light Heads to the Edinburgh Fringe!,15000.0,15277.00,successful,US,True,239,True
136,And Then Came Tango,2000.0,2001.00,successful,US,True,39,True
153,The Trouble With Dead Boyfriends goes to Premi...,4500.0,4970.00,successful,US,True,79,True
194,(Wo)men Rule Broadway,10000.0,10034.00,successful,US,True,50,True
215,The Waterman: A Forgotten Cascadian Myth,3500.0,3502.50,successful,US,True,66,True
226,TINY - A New Musical Based On The Life Of Tiny...,7500.0,9591.00,successful,US,True,138,True
228,Deaf West Theatre's Spring Awakening Tony Perf...,200000.0,211634.17,successful,US,True,1769,True
252,The Wolves of Chernobyl Present Recordings & T...,3150.0,4658.00,successful,US,True,125,True
254,Alien Vs. Musical,15000.0,16212.00,successful,US,True,371,True
260,Help Get Street Theatre Off The Street,15000.0,16612.00,successful,US,True,119,True
264,He Knew He Would Say It (But Could He Believe ...,5000.0,5916.00,successful,US,True,70,True
276,"35MM, A Musical Exhibition",5000.0,5030.00,successful,US,True,35,True
278,SPEAKEASY - a new musical,13500.0,14305.00,successful,US,True,142,True
286,The Monster of Phantom Lake: The Musical!,2500.0,6495.00,successful,US,True,103,True
288,Kat Robichaud's Misfit Cabaret,6000.0,12141.69,successful,US,True,179,True
293,Spies Are Forever: A New Comedy Musical,42000.0,58830.08,successful,US,True,1147,True
314,"Andina, the Opera That Never Was",2200.0,5076.89,successful,US,True,91,True
321,'What's Your Wish?'- Thicket & Thistle's Fring...,6750.0,6766.83,successful,US,True,101,True
...,...,...,...,...,...,...,...,...
3660,"Toscana, or What I Remember",4000.0,4296.00,successful,US,True,21,True
3702,Catapult OYL to the next level—in Edinburgh!,15000.0,15481.00,successful,US,True,181,True
3716,"Two ""Gentlemen"" of Verona by William Shakespeare",2000.0,2047.00,successful,US,True,39,True
3741,Honorable Men - Poor Yorick's Players 2016 Season,1000.0,1312.00,successful,US,True,26,True
3811,Orpheus Descending by Tennessee Williams,15500.0,15705.00,successful,US,True,286,True
3821,Hear Me Roar: A Season of Powerful Women,7000.0,7164.00,successful,US,True,37,True
3827,"""Next Stop"" - Adjusting to dating in NYC",10000.0,15443.00,successful,US,True,145,True
3828,Titus Andronicus (with an all-female cast & crew),2500.0,2804.16,successful,US,True,68,True
3838,Keep the Art of Marionettes Alive With PUPPETW...,5000.0,5462.00,successful,US,True,73,True
3846,Shakespeare in ASL - and FREE for everyone,2500.0,3120.00,successful,US,True,84,True
3866,Celebrating 20 years of The 24 Hour Plays arou...,35000.0,35275.64,successful,US,True,269,True
3871,THE INCREDIBLE FOX SISTERS,8000.0,8227.00,successful,US,True,71,True
3876,Colt Coeur's 6th Season,35000.0,35123.00,successful,US,True,134,True
3883,The Gray Man,10000.0,11122.00,successful,US,True,193,True
3899,Good People by David Lindsay-Abaire at Waterfr...,3100.0,3395.00,successful,US,True,74,True
3926,Scrappy Shakespeare: A Midsummer Night's Dream,3300.0,3315.00,successful,US,True,49,True
3929,"or, The Whale: an original stage adaptation of...",15000.0,15315.00,successful,US,True,288,True
3951,Paperhand Puppet Intervention 16th Annual Summ...,10000.0,12806.00,successful,US,True,176,True
3952,"Yesterday Again, Please - A New Play by Dezi G...",5500.0,5771.00,successful,US,True,88,True
3954,The Metronome Society,1500.0,1661.00,successful,US,True,20,True
3970,Macbeth,6000.0,7877.00,successful,US,True,163,True
4018,Honest Accomplice Theatre 2015-16 Season,12000.0,12095.00,successful,US,True,200,True
4049,Eyes Closed - The First In-Dream Theater Exper...,20000.0,20022.00,successful,US,True,119,True
4078,Kapow-i GoGo at The PIT,2500.0,2575.00,successful,US,True,49,True
4081,The Hurtling Stillness. A story about angels a...,1800.0,1805.00,successful,US,True,12,True
4086,Prison Boxing: A New Play by Leah Joki,12200.0,12571.00,successful,US,True,134,True
4095,Bluebirds by Joe Brondo,7000.0,7365.00,successful,US,True,75,True
4100,The Seagull Project Presents: The Three Sisters,20000.0,21573.00,successful,US,True,202,True
4104,Verdigris - A Play by Jim Beaver,35000.0,56079.83,successful,US,True,930,True
4115,Bring Love's Labour's Lost to Minnesota,25000.0,25388.00,successful,US,True,213,True

In [49]:
# Collect only those US campaigns that have been picked as a "Staff Pick"
picked_by_staff = hosted_in_us.loc[hosted_in_us["staff_pick"] == True]
picked_by_staff

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
11,Hamlet the Hip-Hopera,9747.0,10103.00,successful,US,True,132,True
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.00,successful,US,True,80,True
39,"""Poor People"" at FringeNYC 2015",5500.0,5682.00,successful,US,True,34,True
44,Queen Mab's Steampunk and Fairie Street Festival,1300.0,3363.00,successful,US,True,62,True
45,RAFT: a new play by Emily Kitchens,7500.0,7826.00,successful,US,True,120,True
47,The Spinning Wheel: a son remixes a father's r...,20000.0,22602.00,successful,US,True,228,True
50,Bloomers Presents: LaughtHERfest,8000.0,9501.00,successful,US,True,102,True
54,Natasha Noman's Noman's Land | Aug 5-15th Edi...,7000.0,7571.00,successful,US,True,84,True
107,Peter/Wendy goes to the 2015 Edinburgh Fringe ...,10000.0,12003.00,successful,US,True,95,True
115,La Lune de Femme goes to New Orleans Fringe,5000.0,5519.00,successful,US,True,79,True
117,Secular Solstice 2014,7500.0,8157.01,successful,US,True,164,True
122,Southern Shakespeare Festival,7500.0,8202.00,successful,US,True,63,True
128,Too Much Light Heads to the Edinburgh Fringe!,15000.0,15277.00,successful,US,True,239,True
136,And Then Came Tango,2000.0,2001.00,successful,US,True,39,True
153,The Trouble With Dead Boyfriends goes to Premi...,4500.0,4970.00,successful,US,True,79,True
194,(Wo)men Rule Broadway,10000.0,10034.00,successful,US,True,50,True
215,The Waterman: A Forgotten Cascadian Myth,3500.0,3502.50,successful,US,True,66,True
226,TINY - A New Musical Based On The Life Of Tiny...,7500.0,9591.00,successful,US,True,138,True
228,Deaf West Theatre's Spring Awakening Tony Perf...,200000.0,211634.17,successful,US,True,1769,True
252,The Wolves of Chernobyl Present Recordings & T...,3150.0,4658.00,successful,US,True,125,True
254,Alien Vs. Musical,15000.0,16212.00,successful,US,True,371,True
260,Help Get Street Theatre Off The Street,15000.0,16612.00,successful,US,True,119,True
264,He Knew He Would Say It (But Could He Believe ...,5000.0,5916.00,successful,US,True,70,True
276,"35MM, A Musical Exhibition",5000.0,5030.00,successful,US,True,35,True
278,SPEAKEASY - a new musical,13500.0,14305.00,successful,US,True,142,True
286,The Monster of Phantom Lake: The Musical!,2500.0,6495.00,successful,US,True,103,True
288,Kat Robichaud's Misfit Cabaret,6000.0,12141.69,successful,US,True,179,True
293,Spies Are Forever: A New Comedy Musical,42000.0,58830.08,successful,US,True,1147,True
314,"Andina, the Opera That Never Was",2200.0,5076.89,successful,US,True,91,True
321,'What's Your Wish?'- Thicket & Thistle's Fring...,6750.0,6766.83,successful,US,True,101,True
...,...,...,...,...,...,...,...,...
3660,"Toscana, or What I Remember",4000.0,4296.00,successful,US,True,21,True
3702,Catapult OYL to the next level—in Edinburgh!,15000.0,15481.00,successful,US,True,181,True
3716,"Two ""Gentlemen"" of Verona by William Shakespeare",2000.0,2047.00,successful,US,True,39,True
3741,Honorable Men - Poor Yorick's Players 2016 Season,1000.0,1312.00,successful,US,True,26,True
3811,Orpheus Descending by Tennessee Williams,15500.0,15705.00,successful,US,True,286,True
3821,Hear Me Roar: A Season of Powerful Women,7000.0,7164.00,successful,US,True,37,True
3827,"""Next Stop"" - Adjusting to dating in NYC",10000.0,15443.00,successful,US,True,145,True
3828,Titus Andronicus (with an all-female cast & crew),2500.0,2804.16,successful,US,True,68,True
3838,Keep the Art of Marionettes Alive With PUPPETW...,5000.0,5462.00,successful,US,True,73,True
3846,Shakespeare in ASL - and FREE for everyone,2500.0,3120.00,successful,US,True,84,True
3866,Celebrating 20 years of The 24 Hour Plays arou...,35000.0,35275.64,successful,US,True,269,True
3871,THE INCREDIBLE FOX SISTERS,8000.0,8227.00,successful,US,True,71,True
3876,Colt Coeur's 6th Season,35000.0,35123.00,successful,US,True,134,True
3883,The Gray Man,10000.0,11122.00,successful,US,True,193,True
3899,Good People by David Lindsay-Abaire at Waterfr...,3100.0,3395.00,successful,US,True,74,True
3926,Scrappy Shakespeare: A Midsummer Night's Dream,3300.0,3315.00,successful,US,True,49,True
3929,"or, The Whale: an original stage adaptation of...",15000.0,15315.00,successful,US,True,288,True
3951,Paperhand Puppet Intervention 16th Annual Summ...,10000.0,12806.00,successful,US,True,176,True
3952,"Yesterday Again, Please - A New Play by Dezi G...",5500.0,5771.00,successful,US,True,88,True
3954,The Metronome Society,1500.0,1661.00,successful,US,True,20,True
3970,Macbeth,6000.0,7877.00,successful,US,True,163,True
4018,Honest Accomplice Theatre 2015-16 Season,12000.0,12095.00,successful,US,True,200,True
4049,Eyes Closed - The First In-Dream Theater Exper...,20000.0,20022.00,successful,US,True,119,True
4078,Kapow-i GoGo at The PIT,2500.0,2575.00,successful,US,True,49,True
4081,The Hurtling Stillness. A story about angels a...,1800.0,1805.00,successful,US,True,12,True
4086,Prison Boxing: A New Play by Leah Joki,12200.0,12571.00,successful,US,True,134,True
4095,Bluebirds by Joe Brondo,7000.0,7365.00,successful,US,True,75,True
4100,The Seagull Project Presents: The Three Sisters,20000.0,21573.00,successful,US,True,202,True
4104,Verdigris - A Play by Jim Beaver,35000.0,56079.83,successful,US,True,930,True
4115,Bring Love's Labour's Lost to Minnesota,25000.0,25388.00,successful,US,True,213,True

In [ ]:
# Collect only those US campaigns that have been picked as a "Staff Pick"
picked_by_staff = hosted_in_us.loc[hosted_in_us["staff_pick"] == True]
picked_by_staff